html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

#grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
}

.box {
    outline: 1px solid black;
}

.snake {
    background-color: greenyellow;
}

.apple {
    background-color: crimson;
}

button {
    margin-bottom: 20px;
    font-size: 24px;
    border: 1px solid black;
}

#message {
    font-size: 40px;
}