html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 50px;
}

#grid {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background-color: silver;
}

.box {
    outline: 1px solid black;
}

.snake {
    background-color: greenyellow;
}